<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.management.module.collectionbook.mapper.CollectionBookMapper">

    <!-- 根据条件查询馆藏书目 -->
    <select id="selectCollectionBooksByConditions" 
            resultType="com.library.management.module.collectionbook.entity.CollectionBook">
        SELECT * FROM collection_books
        <where>
            <if test="request.barcode != null and request.barcode != ''">
                AND barcode = #{request.barcode}
            </if>
            <if test="request.bookName != null and request.bookName != ''">
                AND book_name LIKE CONCAT('%', #{request.bookName}, '%')
            </if>
            <if test="request.author != null and request.author != ''">
                AND author LIKE CONCAT('%', #{request.author}, '%')
            </if>
            <if test="request.isbn != null and request.isbn != ''">
                AND isbn = #{request.isbn}
            </if>
            <if test="request.publisher != null and request.publisher != ''">
                AND publisher LIKE CONCAT('%', #{request.publisher}, '%')
            </if>
            <if test="request.publishYear != null and request.publishYear != ''">
                AND publish_year = #{request.publishYear}
            </if>
            <if test="request.branchLibrary != null and request.branchLibrary != ''">
                AND branch_library = #{request.branchLibrary}
            </if>
            <if test="request.callNumber != null and request.callNumber != ''">
                AND call_number LIKE CONCAT('%', #{request.callNumber}, '%')
            </if>
            <if test="request.batch != null and request.batch != ''">
                AND batch = #{request.batch}
            </if>
            <if test="request.isStored != null">
                AND is_stored = #{request.isStored}
            </if>
            <if test="request.libraryLocation != null and request.libraryLocation != ''">
                AND library_location LIKE CONCAT('%', #{request.libraryLocation}, '%')
            </if>
            <if test="request.duplicateFlag != null">
                AND duplicate_flag = #{request.duplicateFlag}
            </if>
            <if test="request.isProblem != null">
                AND is_problem = #{request.isProblem}
            </if>
            <if test="request.problemType != null and request.problemType != ''">
                AND problem_type LIKE CONCAT('%', #{request.problemType}, '%')
            </if>
        </where>
        LIMIT 10000
    </select>

</mapper>
